In [27]:
import pandas as pd

beta_df = pd.read_csv('/Users/gloriabagnato/Desktop/TESI/Data-Finance/Beta-2018.csv')

In [28]:
beta_df.rename(columns={'Unnamed: 0':'Stock'}, inplace=True)

In [29]:
beta_df

                               Stock      Beta
0                      FTSEMIB Index  1.000000
1                               A2A   0.707333
2                          Amplifon   0.767687
3                            Azimut   0.986934
4                        BPER banca   1.031309
5                  Banca Mediolanum   0.934348
6   Banca Monte dei Paschi di Siena   1.313966
7                 Banca pop Sondrio   1.053730
8                         Banco Bpm   0.986934
9                Brunello cucinelli   0.428006
10                          Campari   0.465506
11                         Diasorin   0.835113
12                             Enel   0.819471
13                              Eni   0.788617
14                              Erg   0.773954
15                          Ferrari   1.017630
16                           Fineco   1.205031
17                     Generali Ass   0.874754
18                             Hera   0.585476
19                        Interpump   0.821302
20                 Intesa San Paolo   1.351083
21                            Inwit   0.971737
22                          Italgas   0.749921
23                         Leonardo   1.123506
24                       Mediobanca   1.116493
25                          Moncler   0.773354
26                          Pirelli   0.569951
27                   Poste Italiane   1.089143
28                         Prysmian   1.099756
29                        Recordati   0.393235
30                           Saipem   0.481572
31                             Snam   0.708777
32                       Stellantis   1.140059
33                Stmicroeletronics   1.240147
34                          Telecom   1.319273
35                          Tenaris   0.812125
36                            Terna   0.617907
37                        Unicredit   1.317415
38                           Unipol   1.080885

In [30]:
beta_df.drop(0, inplace=True)

In [31]:
beta_df.sort_values(by="Beta")

                               Stock      Beta
29                        Recordati   0.393235
9                Brunello cucinelli   0.428006
10                          Campari   0.465506
30                           Saipem   0.481572
26                          Pirelli   0.569951
18                             Hera   0.585476
36                            Terna   0.617907
1                               A2A   0.707333
31                             Snam   0.708777
22                          Italgas   0.749921
2                          Amplifon   0.767687
25                          Moncler   0.773354
14                              Erg   0.773954
13                              Eni   0.788617
35                          Tenaris   0.812125
12                             Enel   0.819471
19                        Interpump   0.821302
11                         Diasorin   0.835113
17                     Generali Ass   0.874754
5                  Banca Mediolanum   0.934348
21                            Inwit   0.971737
3                            Azimut   0.986934
8                         Banco Bpm   0.986934
15                          Ferrari   1.017630
4                        BPER banca   1.031309
7                 Banca pop Sondrio   1.053730
38                           Unipol   1.080885
27                   Poste Italiane   1.089143
28                         Prysmian   1.099756
24                       Mediobanca   1.116493
23                         Leonardo   1.123506
32                       Stellantis   1.140059
16                           Fineco   1.205031
33                Stmicroeletronics   1.240147
6   Banca Monte dei Paschi di Siena   1.313966
37                        Unicredit   1.317415
34                          Telecom   1.319273
20                 Intesa San Paolo   1.351083

In [32]:
# Sort stocks based on beta values
sorted_df = beta_df.sort_values(by='Beta')

# Reset index after sorting
sorted_df = sorted_df.reset_index(drop=True)

# Divide stocks into four portfolios
portfolio_1 = sorted_df.head(10)
portfolio_2 = sorted_df.iloc[10:19]
portfolio_3 = sorted_df.iloc[19:28]
portfolio_4 = sorted_df.tail(10)

In [33]:
print("Portfolio 1 (Lowest Beta):")
portfolio_1.to_csv("p1-1.csv")
portfolio_1

Portfolio 1 (Lowest Beta):

                 Stock      Beta
0           Recordati   0.393235
1  Brunello cucinelli   0.428006
2             Campari   0.465506
3              Saipem   0.481572
4             Pirelli   0.569951
5                Hera   0.585476
6               Terna   0.617907
7                 A2A   0.707333
8                Snam   0.708777
9             Italgas   0.749921

In [34]:
print("Portfolio 2:")
portfolio_2.to_csv("p2-1.csv")
portfolio_2

Portfolio 2:

            Stock      Beta
10      Amplifon   0.767687
11       Moncler   0.773354
12           Erg   0.773954
13           Eni   0.788617
14       Tenaris   0.812125
15          Enel   0.819471
16     Interpump   0.821302
17      Diasorin   0.835113
18  Generali Ass   0.874754

In [35]:
print("Portfolio 3:")
portfolio_3.to_csv("p3-1.csv")
portfolio_3

Portfolio 3:

                 Stock      Beta
19   Banca Mediolanum   0.934348
20              Inwit   0.971737
21             Azimut   0.986934
22          Banco Bpm   0.986934
23            Ferrari   1.017630
24         BPER banca   1.031309
25  Banca pop Sondrio   1.053730
26             Unipol   1.080885
27     Poste Italiane   1.089143

In [36]:
print("Portfolio 4 (Highest Beta):")
portfolio_4.to_csv("p4-1.csv")
portfolio_4

Portfolio 4 (Highest Beta):

                               Stock      Beta
28                         Prysmian   1.099756
29                       Mediobanca   1.116493
30                         Leonardo   1.123506
31                       Stellantis   1.140059
32                           Fineco   1.205031
33                Stmicroeletronics   1.240147
34  Banca Monte dei Paschi di Siena   1.313966
35                        Unicredit   1.317415
36                          Telecom   1.319273
37                 Intesa San Paolo   1.351083