In [1]:
import pandas as pd

df = pd.read_excel('/Users/gloriabagnato/Desktop/TESI/FTSEMIB weekly vs Sp500 vs BOT 3m.xlsx')

df

,Date,FTSEMIB Index (R2),SPX Index (L1),GTITL3MO @BGN Corp (R1),FTSEMIB Index - Volume,SMAVG (15)
0,2023-12-29,30351.62,4769.83,3.640,828320000,2.303888e+09
1,2023-12-22,30353.29,4754.63,3.726,2480000000,2.428667e+09
2,2023-12-15,30373.89,4719.19,3.576,3070000128,2.418667e+09
3,2023-12-08,30403.90,4604.37,3.764,1910000000,2.364000e+09
4,2023-12-01,29928.45,4594.63,3.674,2529999872,2.332667e+09
...,...,...,...,...,...,...
323,2017-10-20,22346.85,2575.21,-0.411,1740000000,NaN
324,2017-10-13,22413.54,2553.17,-0.402,2060000000,NaN
325,2017-10-06,22392.31,2549.33,-0.396,1980000000,NaN
326,2017-09-29,22696.32,2519.36,-0.417,1800000000,NaN
327,2017-09-22,22530.83,2502.22,-0.407,1700000000,NaN

In [7]:
col = ['GTITL3MO @BGN Corp  (R1)', 'FTSEMIB Index - Volume', 'SMAVG (15)']
df.drop(columns=col,axis = 1, inplace = True)

In [11]:
for col in df.columns[1:]:
    print(df[col].describe())

count      328.000000
mean     23227.759116
std       3081.887349
min      15731.850000
25%      21087.775000
50%      22768.045000
75%      25525.490000
max      30403.900000
Name: FTSEMIB Index  (R2), dtype: float64
count     328.000000
mean     3544.789451
std       708.458436
min      2304.920000
25%      2857.180000
50%      3533.490000
75%      4187.097500
max      4769.830000
Name: SPX Index  (L1), dtype: float64

In [13]:
import pandas as pd

data = {
    'FTSEMIB Index (R2)': [328, 23227.759116, 3081.887349, 15731.85, 21087.775, 22768.045, 25525.49, 30403.9],
    'SPX Index (L1)': [328, 3544.789451, 708.458436, 2304.92, 2857.18, 3533.49, 4187.0975, 4769.83]
}

index = ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

stat = pd.DataFrame(data, index=index)
stat.round(2)

       FTSEMIB Index (R2)  SPX Index (L1)
count              328.00          328.00
mean             23227.76         3544.79
std               3081.89          708.46
min              15731.85         2304.92
25%              21087.78         2857.18
50%              22768.04         3533.49
75%              25525.49         4187.10
max              30403.90         4769.83

In [ ]:
# Calculate IQR
df.loc['IQR'] = df.loc['75%'] - df.loc['25%']

# Calculate Coefficient of Variation (CV)
df.loc['CV'] = df.loc['std'] / df.loc['mean'] * 100

In [14]:
# Calculate IQR
stat.loc['IQR'] = stat.loc['75%'] - stat.loc['25%']

# Calculate Coefficient of Variation (CV)
stat.loc['CV'] = stat.loc['std'] / stat.loc['mean'] * 100

In [16]:
stat.round(2)

       FTSEMIB Index (R2)  SPX Index (L1)
count              328.00          328.00
mean             23227.76         3544.79
std               3081.89          708.46
min              15731.85         2304.92
25%              21087.78         2857.18
50%              22768.04         3533.49
75%              25525.49         4187.10
max              30403.90         4769.83
IQR               4437.72         1329.92
CV                  13.27           19.99